<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script> 
    function goBack() {
        window.history.back()
    }
    </script>
    {% load static %}
    <link rel="stylesheet" href='{% static "css/dojo_style.css" %}'>
    <title>Dojo</title>
</head>
<body>
    <div class="container">
        <h1>Submitted Info</h1>
        <h3>Name: {{name}}</h3>
        <h3>Dojo Location: {{location}}</h3>
        <h3>Favorite Language: {{languages}}</h3>
        <h3>Comment: {{comments}}</h3>
        <h3>Current field: {{engineer}}</h3>
        <button onclick="goBack()">Go Back</button>
    </div>
</body>
</html>